<footer>
    <div class="bg-red-800 p-4 border-t-2 border-yellow-500 text-white text-center">
        <p class="text-white">© {{ "now"|date("Y") }} Tagada CRM. All rights reserved.</p>
        <p class="text-gray-300">Powered by Symfony 7.3.1 and Tailwind CSS 4.1</p>
    </div>
</footer>
